/* Google Web Font : Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Reset CSS */
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Default CSS */
body {
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 15px;
    margin: 0;
    height: 100vh;
    background-color: #fff;
}

/* Entire Layout */
.cd-section {
    height: 100vh;
}

.cd-section>div {
    height: 100%;
    position: relative;
}

.content {
    background-color: #fff;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    left: 20px;
    bottom: 20px;
    overflow: hidden;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.gnb-inner {
    width: calc(100% - 40px);
    margin: auto;
    height: 60px;
    line-height: 60px;
}

.logo {
    float: left;
    padding-top: 8px;
    height: inherit;
}

.logo>a {
    width: 100%;
    height: 100%;
}

.logo img {
    height: 45px;
}

.gnb {
    float: right;
}

.menu {
    display: none;
}

.menu a {}

.slogan {
    font-size: 16px;
    font-style: italic;
}

.trigger {
    display: none;
}


/* Hiring Button */
.btn-hiring {
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #000;
    transition: 0.5s;
}

.btn-hiring .fa{
    transform: rotateY(180deg);
    margin-right: 5px;
}

.btn-hiring:active {
    transform: scale(0);
}

/* ############## */
/* Section Home */
/* ############## */
.home-inner {
    background-color: #fff;
    height: 100%;
}
.home-inner::before{
    content: '';
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    animation: overlay 1s 2s  ease-in-out both;
}
.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
    line-height: 1.2em;
    font-weight: normal;
    margin: 0;
    animation: slideup 2s linear;
    animation-fill-mode: both;
}
.welcome-text span {
    display: block;
    font-size: 26px;
    letter-spacing: 0.1em;
}
.welcome-text span .fa {
    color: crimson;
}
.opacity-img {
    background: url(/img/section-bg-01.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    opacity: 0;
    animation: opacity 1s 2.5s ease-in both;
}
.home-heading {
    position: absolute;
    top: 50%;
    left: 550px;
    transform: translate(-50%, -50%);
}
.home-heading span {
    display: block;
    font-size: 115px;
    color: #fff;
    font-weight: 600;
    width: 0;
    overflow: hidden;
    animation: reveal 1s 3s ease-in-out both;
}

.home-heading span:nth-child(1) {
    animation-delay: 3s;
}

.home-heading span:nth-child(2) {
    animation-delay: 3.2s;
}

.home-heading span:nth-child(3) {
    animation-delay: 3.4s;
}

@keyframes slideup {
    0% {
        opacity: 0;
        margin-top: 50px;

    }
    20% {
        opacity: 1;
        margin-top: 0;
    }
    80% {
        opacity: 1;
        margin-top: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes reveal {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes overlay {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ############## */
/* Section Abouts */
/* ############## */
.about-inner {
    background: url(/img/line-drawing.png) no-repeat right bottom;
    height: 100%;
    background-color: #0dace3;
}
.about-items {
    width: 60%;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 100px;
}
.item {
    overflow: hidden;
    margin-bottom: 30px;
}
.item:hover img {
    filter: invert(0);
}
.item:hover h3 {
    color: #000;
    letter-spacing: 1px;
}
.item img {
    height: 100px;
    float: left;
    margin-right: 20px;
    filter: invert();
    transition: 0.5s;
}

.item h3 {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    transition: 0.5s;
    letter-spacing: -1px;
}
.item span {
    
}
.item p {
    overflow: hidden;
    font-style: 18px;
}



/* ############## */
/* Section Plan */
/* ############## */
.plan-inner {
    background-color: #1a1f24;
    height: 100%;
}
.plan-feature {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.plan-feature > div {
    height: 300px;
    color: #bbb;
}
.plan-info {}
.plan-info > div {
    float: left;
}
.plan-heading {
    width: 70%;
    padding-right: 50px;
    color: #fff;
}

.plan-heading h2{
    width: 70%;
    margin: 0;
}
.plan-heading p {
    font-size: 16px;
    line-height: 1.6em;
    overflow: hidden;
}
.plan-photo {
    width: 30%;
}
.plan-photo img {
    height: 270px;
}

.plan-feature hr.bar {
    background-color: dodgerblue;
    display: inline-block;
}
.history-info {
    margin: 0;
}
.history-info h2{
    color: #fff;
    margin: 0;
}

.history-slider div h4 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
.history-slider div h4 span {
    color: dodgerblue;
}
.history-slider div p {
    font-size: 16px;
    line-height: 1.5em;
}

/* Slick 커스텀 history */
.history-slider .slick-arrow {
    display: none !important;
}

.history-slider .slick-dots li button:before {
    color: #fff;
    font-size: 40px;
}

.history-slider .slick-dots li.slick-active button:before {
    color: #fff;
}

.history-slider .slick-dots li {
    margin: 0;
}


/* ############## */
/* Section Awards */
/* ############## */
.awards-inner {
    height: 100%;
}
.awards-inner > div {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}

.about-awards {
    background-color: #1a1f24;
    color: #fff;
}

.about-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}


.victory-jump {
    background-color: #fff;
    /* display: flex;
    justify-content: center; */
}

.victory-jump img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* text-align: center; */
}

hr.bar {
    width: 50px;
    height: 4px;
    border: none;
    background-color: crimson;
    margin: 30px auto;
}

.about-heading p {
    color: #999;
    font-style: 17px;
    line-height: 1.5em;
}

.btn-awards {
    color: #bbb;
    border: 1px solid #bbb;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 20px;
}

.btn-awards:hover {
    background-color: #31c0ce;
    color: #fff;
    border-color: transparent;
}


/* ############## */
/* Section Project */
/* ############## */
.project-inner {
    border: 1px solid #000;
    height: 100%;
    overflow: hidden;
}
.tabs {
    height: 100%;
    width: 300%;
    transition: 0.5s;
}
.tabs > div{
    float: left;
    height: 100%;
}
.tab {
    height: 100%;
    width: 33.33333333%;

}
.tab > div {
    height: 100%;
    float: left;
}

.project-photo {
    width: 75%;
}


.project-inner input[name=tabmenu] {
    display: none;
}
.btn {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 25%;
    text-align: center;
}
.btn label {
    cursor: pointer;
    width: 5px;
    height: 5px;
    background-color: #000;
    display: inline-block;
    border-radius: 50%;
    margin: 8px;
    position: relative;
}
.btn label:before {
    content: '';
    display: inline-block;
    border: 1px solid transparent;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    top: -5px;
    left: -5px;
    transition: 0.3s;
}
.btn label:hover:before {
    border: 1px solid #aaa;
}
.project-inner input[id=tab1]:checked ~ .btn label[for=tab1]:before,
.project-inner input[id=tab2]:checked ~ .btn label[for=tab2]:before,
.project-inner input[id=tab3]:checked ~ .btn label[for=tab3]:before{
    border: 1px solid #000;
}

.project-inner input[id=tab1]:checked ~ .tabs {
    margin-left: 0;
}
.project-inner input[id=tab2]:checked ~ .tabs {
    margin-left: -100%;
}
.project-inner input[id=tab3]:checked ~ .tabs {
    margin-left: -200%;
}

.project-info {
    padding: 50px;
    width: 25%;
    background-color: #fff;
    position: relative;
}
.project-info h3 {
    font-size: 20px;
    position: relative;
}
.project-info p {
    font-size: 16px;
    line-height: 1.5em;
}
.project-info ul {
    line-height: 2em;
    margin: 30px 0;
}
.project-info ul li ::before{
    content:"\f105";
    font-family: fontawesome; 
    margin-right: 10px;
}
.project-info ul li {}
.project-detail {
    margin-bottom: 50px;
}
.project-detail div {
    display: inline-block;
    text-align: center;
    width: 32%;
    color: #999;

}
.project-detail span {
    font-size: 36px;
    font-weight: bold;
    display: block;
    color: #000;
    margin-bottom: 10px;
}
.view-project {
    background-color: #3f3f3f;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
    width: 220px;
    padding: 10px;
    text-align: center;
}

.view-project:hover {
    background-color: #1d1b24;
}

.view-project .fa {
    transition: 0.5s;
    margin-left: 10px;
}
.view-project:hover .fa {
    margin-left: 30px;
}

.project-info::before {
    content: attr(data-text);
    font-size: 130px;
    color: #ddd;
    position: absolute;
    top: -10px;
    left: 10px;
    opacity: 0.5;

}

/* ############## */
/* Section Location */
/* ############## */

.location-inner {
    background: url(/img/background-location.jpg) no-repeat center center;
    height: 100%;
    Background-size: cover;
    position: relative;
}

.location-inner:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    display: block;
}

.feature {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbb;
}

.feature > div {
    float: left;
}
.office {
    width: 60%;
    padding-right: 100px;
}

.office b {
    font-weight: normal;
}
.office h2 {
    color: #1db1f0;
    font-weight: 500;
    margin: 0;
    /* margin-top: 10px; */
}
.office p {
    font-size: 16px;
    line-height: 1.5em;
}
.office span {
    color: #fff;
}
.customer {
    margin-top: 40px;
}

.service {
    width: 40%;
}
.service-item {
    margin-bottom: 40px;
}
.service .fa {
    color: #31c0ce;
    font-size: 40px;
}
.service-item h3 {
    color: #fff;
    font-size: 20px;
    margin: 0;
}
    /* ############## */
    /* Section Contact */
    /* ############## */

.contact-inner {
    background-color: #fff;
    height: 100%;
    border: 1px solid #ddd;

}
.contact-feature {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-feature > div {
    float: left;
    width: 50%;
    padding: 20px;
}
.contact-form {


}
.contact-form h3{
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}
.send-box {

}
.send-box label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
    margin-top: 20px;
}
.send-box label span {
    color: crimson;
    font-weight: normal;
}
.send-box input[type=email], 
.send-box input[type=text], 
.send-box textarea
{
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    width: 100%;
    resize: none;
    transition: 0.5s;
}

.send-box input[type=email]:hover,
.send-box input[type=text]:hover,
.send-box textarea:hover 
{
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
}

.send-box input[type=email]:focus,
.send-box input[type=text]:focus,
.send-box textarea:focus 
{
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
    background-color: #eee;
}


.send-box button {
    background-color: #000;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

.send-box button:hover {
    background-color: #0088cc;
}

.contact-info {

}

.contact-info h4 {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
}

.contact-info ul li {
    line-height: 1.5em;
}

.contact-info ul li:last-child {
    color: #0088cc;
}

.contact-info p {
    line-height: 1.5em;
    
}

.featherlight .featherlight-content {
    margin-left: 0%;
    margin-right: 0%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    
}
.featherlight iframe {
    width: 100%;
    height: 100%;
}
.featherlight .featherlight-close-icon {
    font-size: 40px;
    top: 30px;
    right: 70px;
}

