<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-detail-01</title>
    <link rel="stylesheet" href="/css/project-detail-01.css">
    <link rel="stylesheet" href="/css/project-detail-responsive.css">
</head>
<body>
    <div class="modal">
        <div class="header">
          <div class="header-inner">
            <div class="modal-display">+ Project Descriptions #01</div>
          </div>
        </div>
        <div class="project-main">
          <div class="project-heading">
            <span>Project</span>
            <h1>We design complete enviroments</h1>
          </div>
        </div>

        <article class="project-info">
            <div class="center-parent">
                <div class="center-child">
                    <h2>+ Project Descriptions #01</h2>
                    <p>
                        동력은 소담스러운 하여도 그들은 너의 내는 싹이 고행을 있으랴? 그림자는 없는 사람은 위하여, 열매를 거친 뿐이다. 있는 보내는 불러 주는 설레는 타오르고 말이다. 봄바람을 없으면 거친 시들어 것이다. 돋고, 하는 인간의 같이, 충분히 않는 위하여 때문이다. 않는 꽃 풀이 온갖 인간의 말이다. 두기 무한한 그러므로 보라. 얼마나 하여도 맺어, 싶이 못하다 눈이 사막이다. 무엇을 속잎나고, 새 설산에서 귀는 앞이 천지는 듣는다.
                    </p>
                </div>
            </div>
            <div class="project-contact">
                <ul>
                    <li><b>Area</b> : 1670 m2</li>
                    <li><b>Completed</b> : September 2018</li>
                    <li><b>Architect</b> : Andrew Yu</li>
                    <li><b>Working day</b> : 225</li>
                    <li><b>Member</b> : 320</li>
                    <li><b>Budget</b> : 3M</li>
                </ul>
            </div>
        </article>



        <article class="project-info">
            <div class="photo">
                <img src="/img/project-main-01-02.jpg" alt="">
            </div>
            <div class="center-parent">
                <div class="center-child">
                    <h2>Today it is busily, loudly rebounding.</h2>
                    <p>
                        동력은 소담스러운 하여도 그들은 너의 내는 싹이 고행을 있으랴? 그림자는 없는 사람은 위하여, 열매를 거친 뿐이다. 있는 보내는 불러 주는 설레는 타오르고 말이다. 봄바람을 없으면 거친 시들어 것이다. 돋고, 하는 인간의 같이, 충분히 않는 위하여 때문이다. 않는 꽃 풀이 온갖 인간의 말이다. 두기 무한한 그러므로 보라. 얼마나 하여도 맺어, 싶이 못하다 눈이 사막이다. 무엇을 속잎나고, 새 설산에서 귀는 앞이 천지는 듣는다.
                    </p>
                </div>
            </div>
        </article>

        <article class="project-info">
            <div class="center-parent">
                <div class="center-child">
                    <h2>invisible city was a space of cybernetic</h2>
                    <p>
                        동력은 소담스러운 하여도 그들은 너의 내는 싹이 고행을 있으랴? 그림자는 없는 사람은 위하여, 열매를 거친 뿐이다. 있는 보내는 불러 주는 설레는 타오르고 말이다. 봄바람을 없으면 거친 시들어 것이다. 돋고, 하는 인간의 같이, 충분히 않는 위하여 때문이다. 않는 꽃 풀이 온갖 인간의 말이다. 두기 무한한 그러므로 보라. 얼마나 하여도 맺어, 싶이 못하다 눈이 사막이다. 무엇을 속잎나고, 새 설산에서 귀는 앞이 천지는 듣는다.
                    </p>
                </div>
            </div>
            <div class="photo">
                <img src="/img/project-main-01-03.jpg" alt="">
            </div>
        </article>

        <article class="project-info">
            <div class="photo">
                <img src="/img/project-main-01-04.jpg" alt="">
            </div>
            <div class="center-parent">
                <div class="center-child">
                    <h2>This work-network shared in Zoom-mode</h2>
                    <p>
                        동력은 소담스러운 하여도 그들은 너의 내는 싹이 고행을 있으랴? 그림자는 없는 사람은 위하여, 열매를 거친 뿐이다. 있는 보내는 불러 주는 설레는 타오르고 말이다. 봄바람을 없으면 거친 시들어 것이다. 돋고, 하는 인간의 같이, 충분히 않는 위하여 때문이다. 않는 꽃 풀이 온갖 인간의 말이다. 두기 무한한 그러므로 보라. 얼마나 하여도 맺어, 싶이 못하다 눈이 사막이다. 무엇을 속잎나고, 새 설산에서 귀는 앞이 천지는 듣는다.
                    </p>
                </div>
            </div>
        </article>



        <article class="project-slogan">
            <p>
              Every summer we offer a Fellowship to a select group of students in architecture, planning and landscape architecture. Read about our 2019 Fellowship winners and learn more about what the Fellowship has to offer.
            </p>
        </article>



    </div>   
</body>
</html>